/*Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-white{
    color: #fff !important;

}
.clear{
    clear: both;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}
.colfull{
    width: 100%;
}
.mt8{
    margin-top: 8px;
}
.mt16{
    margin-top: 16px;
}

#nav{
    display: inline-block;
}
#nav .nav-arrow-down{
    font-size: 14px;
    
}
#header{
    z-index: 1;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .mobile-menu-btn:hover,
#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;

}
#header .mobile-menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .mobile-menu-icon{
    color: #000;
    
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    /* overflow: hidden; */
}
#nav, .subnav{
    list-style-type: none;

}
#nav > li{
    display: inline-block;
    position: relative;

}
#nav > li > a{
    text-transform: uppercase;
    color: #fff;
    
}
#nav li a{
    display: block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav li .subnav  {
    top: 100%;
    left: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;

    
}
#nav li .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(assets/img/slider/slider1.jpg) top center/ cover no-repeat;
}
#slider .slider-content{
    position: absolute;
    color: #fff;
    bottom: 42px;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
}
#slider .text-description{
   margin-top: 10px;
}
#content .content-section{
    
    padding: 64px 16px ;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
}
#content .member-item{
    text-align: center;
    width: 33.33333%;
    float: left;

}
#content .member-name{
    font-size: 15px;
    

}
#content .member-img{
    border-radius: 4px;
    margin-top: 12px;
    width: 154px;

}
#content .tour-section{
    width: 100%;
    background-color: #000;
}
.tour-section .ticket-list{
    list-style: none;
    margin-top: 40px;
    background-color: #fff;
}
.ticket-list li{
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;

}
.ticket-list .sold-out{
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 10px;

}
.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;

}
.tour-section .places-list{
    margin: 32px -8px 32px;
    padding-bottom: 8px;
    

}
.places-list .place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;

}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}
.place-heading{
    font-size: 15px;
    


}
.place-time{
    margin-top: 15px;
    opacity: 0.6;

}
.place-description{
    margin-top: 15px;
    line-height: 1.4;

}
.place-buy-btn{
    background-color: #000;
    color: #fff;
    padding: 10px 14px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;

}
.modal.open{
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 400px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-close:hover{
    background-color: #ccc;
    color: #000
    
}
.modal-close{
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    

}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 12px;
}
.modal-body{
    padding: 16px;

}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-input{
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
}
button#buy-ticket {
    color: #fff;
    width: 100%;
    border: none;
    background-color: #009688;
    text-transform: uppercase;
    padding: 16px;
}
button#buy-ticket:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modal-footer{
    text-align: right;
    padding: 16px;
}
.modal-footer a{

    color: #2196F3;
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-130px)
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}
/*Contact form*/
.contact-content{
    margin-top: 48px;
}
.contact-content .contact-infor{
    font-size: 18px;
    line-height: 1.5;
    
}
.contact-infor i[class*="ti-"]{
    width: 30px;
    display: inline-block;
    
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 8px;
    border: 1px  solid #ccc;
    width: 100%;

}
.form-submit-btn{
    padding: 8px 12px;
    background-color: #000;
    color: #fff;
    float: right;
    border: #000;
}
.form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.map-section .map-image{
    width: 100%;
}
#footer{
    padding: 60px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copy-right{
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copy-right a{
    color: rgba(0, 0, 0, 0.6);
}
